
.background-container {
    position: fixed;
    z-index: -2;
    font-size: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.background-rows {
    display: flex;
}


.background-cells {
    width: 2vw;
    height: 2vw;

    display: inline-flex;
    margin: auto;

    outline: .10vmin solid #121212;

    opacity: 1;
}

.red {
    opacity: 1;
    background-color: rgba(255, 0, 0, 0.35);
}

.blue {
   opacity: 1;
   background-color: rgba(0, 255, 255, 0.35);
}

.pink {
    opacity: 1;
    background-color: rgba(255, 192, 203, 0.55);
}


.special {
    opacity: 1;
    background-color: rgba(240, 248, 255, 0.692);
}

@keyframes LightUp {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


@media screen and (min-height: 100vw) {
    .background-cells {
        width: 2vh;
        height: 2vh;
    }
    
}