
.mode-container {
    
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    box-sizing: border-box;
    list-style: none;
    position: relative;
    margin: 10px auto;
    margin-top: 5vmin;
    
    padding: .5vw;
    background-color: none;


    /*width: 70vw;*/
    width: 75vw;
    height: max-content;
    max-width: 150vh;
    max-height: 75vh;    
    
    
}

.card-item {
    box-sizing: border-box;
    display: flex;
    width: 25%;
    padding: .50%;
  
    height: auto;
   
    background-color: none;

}

.mode-card {
    position: relative;
    box-sizing: border-box;
    text-align: center;
    
    background-color: #1b1a1ac7;
  
    outline: .10vmin solid aliceblue;
    width: 100%;
    height: 100%;
    cursor: pointer;

    filter: brightness(1);
   
    animation: FadeIn 0.5s linear 0s;


    padding-top: 2%;
    padding-right: 1.75%;
    padding-left: 1.75%;



    border-radius: 1.75%;
    
}




.mode-card:hover {
    color: black;
    background-color: rgb(238, 238, 238);
}

.card0 .mode-title {
    border-bottom: .25vmin solid rgb(255, 68, 62);
}

.card1 .mode-title {
    border-bottom: .25vmin solid rgb(62, 249, 255);
}

.card2 .mode-title {
    border-bottom: .25vmin solid pink;
}

.card3 .mode-title {
    color: black;
    border-bottom: .25vmin solid black;
    /*animation: 4s colorChange infinite;*/
}

.card3 .mode-text {
    color: black;
}

.card0 {
    animation: homepageAnimation .50s linear;
}

.card1 {
    animation: homepageAnimation .55s linear;
}

.card2 {
    animation: homepageAnimation .6s linear;
}

.card3 {
    animation: homepageAnimation .65s linear, backgroundColorChange 4s infinite;
}


@keyframes colorChange {
    25% {
        border-bottom-color: rgb(62, 249, 255);
    }
    50% {
        border-bottom-color: pink;
    }
    75% {
        border-bottom-color: rgb(251, 255, 0);
    }
    100% {
        border-bottom-color: #3e69f8;
    }
} 

@keyframes homepageAnimation {
    0% {
        top: -100px;
        opacity: 0;
    }

    100% {
        top: 0px;
        opacity: 1;
    }

}


/*
    BOX-SHADOW COLORS FOR EACH CARD (0-4) 
*/
.card0:hover {
    box-shadow: .5vmin .5vmin 2vmin rgb(255, 68, 62);
}

.card1:hover {
    box-shadow: .5vmin .5vmin 2vmin rgb(62, 249, 255);
}

.card2:hover {
    box-shadow: .5vmin .5vmin 2vmin pink;
}

.card3:hover {
    /*box-shadow: 4px 4px 15px white;
    */
    box-shadow: .5vmin .5vmin 2vmin white;

}

@keyframes backgroundColorChange {
    25% {
        background-color: rgb(62, 249, 255);
        
    }

    50% {
        background-color: pink;
        
    }

    75% {
        background-color: rgb(251, 255, 0);
    }

    100% {
        background-color: #3e69f8;
    }
}





.mode-card:hover .mode-title {
    color: black;
}

.mode-card:hover .mode-text {
    color: black;
}




.mode-image {
    background-color: antiquewhite;
    width: 100%;
    height: auto;
    aspect-ratio: 1;
    filter: brightness(0.8);

}

.mode-title {
    color: aliceblue;
    background-color: none;
    width: max-content;
  
    margin: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
    margin-top: 4%;
    margin-bottom: 5%;

    
}


.mode-text {
    background-color: transparent;
    color: aliceblue;
    
    inline-size: 99%;
    line-height: 1.25;
    margin: auto;
    margin-bottom: 15%;
}


@keyframes FadeIn {
    0%{
        /*left: -25px;*/
        opacity: 0%;
    }    
    100% {
        /*left: 0px;*/
        opacity: 100%;
    }
}



@media screen and (min-width: 1000px) {

    .mode-title {
        font-size: 1.5vw;
    }

    .mode-text {
        font-size: 1vw;
    }
    
}

@media screen and (max-height: 50vw) {
    .mode-title {
        font-size: 3vh;
    }

    .mode-text {
        font-size: 2vh;
    }
}


@media screen and (min-width: 426px) and (max-width: 1000px) {
    .mode-container {
        width: 90%;
        max-width: none;
        max-height: none;
    }

    .card-item {
        width: 45%;
    }

    .mode-title {
        font-size: 4vw;
    }

    .mode-text {
        font-size: 2.25vw;
    }

}


@media screen and (max-width: 425px /*620px*/) {
    .mode-container {
        width: 100%;
        max-width: none;
            max-height: none;
    }

    .card-item {
        padding-bottom: 25px;
        width: 75%;
        aspect-ratio: 1/2;
    }

    .mode-title {
        font-size: 6vw;
    }
    
    .mode-text {
        font-size: 4.75vw;
    }
}


