.sidebar-container {
    padding: 0;
    margin-left: 22px;
    margin-right: 10px;

}


.game-info-childs {
    display: flex;
    outline: 1.5px solid rgb(255, 255, 249);
    border-radius: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
}

/*
    DIV #1
*/
.child-one {
    text-align: center;
    height: 13%;
    /*background-color: #173f5f;*/
    background-color: transparent;
}

.timer {
    color: white;
    font-weight: lighter;
    font-size: 70px;
    width: fit-content;
    height: fit-content;
    margin-left: auto;
    margin-right: auto;
    white-space: nowrap;

}

/*
    DIV #2
*/
.child-two {
    position: relative;
    height: 58%;
    background-color: transparent;
    display: block;
}

.control-card {
    position: relative;
    display: flex;
    height: 20%;
    width: 100%;
}
.control-card-child {
    display: flex;
    margin: auto;
}


.maze-info-container {
    height: 58%;
    width: 100%;
    display: flex;
}

.character-info {
    background-color: aliceblue;
    width: 48%;
    margin-left: 5px;
    margin-right: 3px;
    outline: 2px solid black;
    border-radius: 10px;
    margin-top: 10px;
}
.environment-info {
    background-color: aliceblue;
    width: 48%;
    margin-left: 3px;
    margin-right: 5px;
    outline: 2px solid black;
    border-radius: 10px;
    margin-top: 10px;
}
.maze-info-card {
    display: flex;
    width: max-content;
    margin: auto;
    height: max-content;
    margin-bottom: -10px;
}


.info-image {
    width: 30px;
    height: 28px;
    
    object-fit: contain;
}

.info-name {
    font-size: 20px;
    font-weight: lighter;
    margin-top: auto;
    
    
}


.info-title {
    margin-top: auto;
}


.control-image1 {
    width: 120px;
    height: 100%;
    object-fit: contain;
}

.control-image2 {
    width: 120px;
    height: 100%;
    object-fit: contain;
}

.control-text {
    color: white;
    font-size: 30px;
    width: max-content;
    font-weight: lighter;
}

/*
    DIV #3
*/
.child-three {
    height: 13%;
    background-color: bisque;
}


/*
    DIV #4
*/
.child-four {
    height: 10%;
    background-color: blueviolet;
}