.Title {
    color: white;
    font-size: 4vmin;
    font-weight: lighter;
    opacity: 1;
    background-color: transparent;

    width: max-content;
    margin-left: auto;
    margin-right: auto;

    
    padding-top: .5vmin;
    padding-bottom: .5vmin;
    
    cursor: pointer;

    animation: titleAnimation 1.5s linear;
}



.title0:hover {
    border-bottom: 2px solid rgb(255, 0, 0);
}

.title1:hover {
    border-bottom: 2px solid aqua;
}

.title2:hover {
    border-bottom: 2px solid Pink;
}

.title3:hover {
    border-bottom: 2px solid aliceblue;
}

@keyframes titleAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@media screen and (max-width:1000px) {
    .homepage-title {
        font-size: 30px;
    }
    
}
